In [1]:
print('Hello world')

Hello world

In [2]:
type(6+4j)

complex

In [3]:
type(6)

int

In [4]:
type(False)

bool

In [5]:
True == False

False

In [6]:
True == True

True

In [7]:
print(2 + 1)

3

In [8]:
print('1' + '1')

11

In [9]:
print(2 + 4j + 2 -4j)

(4+0j)

# type in python 
## bool, str, int, complex, float, list, dictionary, set, turple

In [10]:
my_list = [2, 5, 6, 7]
print(my_list)

[2, 5, 6, 7]

In [11]:
len(my_list)

4

In [12]:
my_turple = (1, 3, 4, 5)

In [13]:
len(my_turple)

4

In [14]:
non_unique = (1, 2, 1, 4, 5)

In [15]:
len(non_unique)

5

In [16]:
print(non_unique)

(1, 2, 1, 4, 5)

In [17]:
print((1, 3, 4) == (1, 3, 4))

True

In [18]:
print((1, 3) ==(2, 1))

False

In [20]:
(1, 2) == (2, 1)

False

In [21]:
[1, 3] == [3, 1]

False

In [22]:
[1, 3] == [1, 3]

True

In [23]:
(1,2) == (1,2)

True

In [24]:
(1,2)==(2,1)

False

In [25]:
(2) == (2)

True

In [26]:
(2, 3) == (3, 2)

False

In [27]:
(2,3)==(3,2)

False

In [28]:
my_set = {1, 2}

In [29]:
print(my_set)

{1, 2}

In [30]:
{1, 2} == {2, 1}

True

In [31]:
{3, 2} == {3, 2}

True

In [32]:
my_set = {300, 40}
my_turple = (1, 30, 50)
print(my_turple)

(1, 30, 50)

In [33]:
(first) =my_turple
print(first)

(1, 30, 50)

In [34]:
my_dict = {'name': 'Rabo', 'age':20}
print(my_dict)

{'name': 'Rabo', 'age': 20}

In [35]:
print(my_dict['name'])

Rabo

In [36]:
print(my_dict['age'])

20

In [37]:
30 % 6

0

In [38]:
50 % 20

10

In [39]:
20 + 10

30

In [40]:
40 / 12

3.3333333333333335

In [41]:
int(45 / 45)

1

In [42]:
int(45 / 7)

6

In [45]:
'my ' + 'ball'

'my ball'

In [46]:
'my school currently on strike' * 45

'my school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strikemy school currently on strike'