In [33]:
dimm = [[i for i in range(8) if i % 2 == 0] for i in range(8)]
print(dimm)

[[0, 2, 4, 6], [0, 2, 4, 6], [0, 2, 4, 6], [0, 2, 4, 6], [0, 2, 4, 6], [0, 2, 4, 6], [0, 2, 4, 6], [0, 2, 4, 6]]

In [34]:
temps = [[0.0 for h in range(24)] for d in range(31)]
total = 0
for day in temps:
    total += day[11]

print(total)

0.0

In [35]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# The matrix is magically updated here.
#

hot_days = 0

for day in temps:
    if day[11] > 20.0:
        hot_days += 1

print(hot_days, "days were hot.")

0 days were hot.

In [36]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]
print(rooms)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]

In [37]:
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [38]:
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [39]:
for i in range(1):
    print("#")
else:
    print("#")

#
#

In [40]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue
    print("#")

#
#
#

In [41]:
var = 1
while var < 10:
    print("#")
    var = var << 1

#
#
#
#

In [42]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y
print(x)

True

In [43]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b

print(c + d + e)

2

In [44]:
my_list = [3, 1, -2]
print(my_list[my_list[-1]])

1

In [45]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])

[2]

In [46]:
vals = [0, 1, 2]
vals.insert(0, 1)
del vals[1]

In [47]:
nums = [1, 2, 3]
vals = nums[-1:-2]
print(nums)

[1, 2, 3]

In [48]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1:
    my_list_2.insert(0, v)
print(my_list_2)

[3, 2, 1]

In [49]:
my_list = [1, 2, 3]
for v in range(len(my_list)):
    my_list.insert(1, my_list[v])
print(my_list)

[1, 1, 1, 1, 2, 3]

In [50]:
my_list = [i for i in range(-1, 2)]
print(my_list)

[-1, 0, 1]

In [51]:
t = [[3-i for i in range (3)] for j in range (3)]
s = 0
for i in range(3):
    s += t[i][i]
print(s)

6

In [52]:
my_list = [0, 1, 2, 3]
my_newlist = my_list.copy()
print(my_list == my_newlist)
my_newlist.insert(0,500)
print(my_list)

True
[0, 1, 2, 3]

In [53]:
def name(_name):
    print(_name)

name('Rabo')

Rabo

In [54]:
def add(a, b):
    print(a + b)
add(a = 30, b =45)
add(b = 45, a = 30)

75
75

In [55]:
def even(num):
    if num % 2 == 0:
        return 'even number'
print(even(2))
print(even(1))

even number
None

In [56]:
def strange_list_fun(n):
    strange_list = []

    for i in range(n):
        strange_list.insert(0, i)

    return strange_list

print(strange_list_fun(5))

[4, 3, 2, 1, 0]

In [57]:
def local_var():
    global x
    x = 200
    return x
y =local_var()
print(y)
print(x)

200
200

In [58]:
def triangle(a, b, c):
    if a + b <= c or b + c <= a or a + c <= b:
        return False
    return True

print(triangle(1, 1, 3))
print(triangle(1, 1, 1))

False
True

In [59]:
def is_a_triangle(a, b, c):
    return a + b > c and b + c > a and c + a > b


print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [60]:
# factorial
def factorial(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    num = 1
    for i in range(2, n + 1):
        num *= i
    return num
print(factorial(4))
print(factorial(6))
print(factorial(5))

24
720
120

In [61]:
def fib(n):
    if n < 0:
        return None
    if n < 3:
        return 1
    return fib(n-1) + fib(n-2)
print(fib(6))

8

In [62]:
tur = 2,
print(tur)

(2,)

In [63]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[:-1])
print(my_tuple[1:])
print(my_tuple[:-2])

1
1000
(1, 10, 100)
(10, 100, 1000)
(1, 10)

In [64]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [65]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

(2,) (3, 123) (1,)

In [66]:
my_tuple = (2, 12, 23, 600)
for i in range(len(my_tuple)):
    print(my_tuple[i])
a,b, c = 23,34, 5,
print(a, b, c)
my_tuple1 = 2, 4, 5,
my_tuple2 = 34, 5, 6,
print(my_tuple + my_tuple)

2
12
23
600
23 34 5
(2, 12, 23, 600, 2, 12, 23, 600)

In [67]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {'boss' : 5551234567, 'Suzy' : 22657854310}
empty_dictionary = {}
print(dictionary['cat'])
print('name' in dictionary)

chat
False

In [68]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
words = ['cat', 'lion', 'horse']

for word in words:
    if word in dictionary:
        print(word, "->", dictionary[word])
    else:
        print(word, "is not in dictionary")

cat -> chat
lion is not in dictionary
horse -> cheval

In [69]:
for key in dictionary.keys():
    print(key, '->', dictionary[key])

cat -> chat
dog -> chien
horse -> cheval

In [70]:
for key, value in dictionary.items():
    print(key, '=>', value)

cat => chat
dog => chien
horse => cheval

In [71]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary['cat'] = 'minou'
print(dictionary)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

In [72]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.update({"duck": "canard"})
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'duck': 'canard'}

In [73]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

del dictionary['dog']
print(dictionary)

{'cat': 'chat', 'horse': 'cheval'}

In [74]:
t = (90, 34, 12)
add = 0
for i in t:
    add += i
    print(add)
print('End....................')
print(add)

90
124
136
End....................
136

In [77]:
exams = {}
while True:
    name = input('Enter your name')
    if name == '':
        break
    score =int(input('Enter your score'))
    if score not in range(0, 11):
        break
    if name not in exams:
        exams[name] = (score, )
    else:
        exams[name] += score
for name in sorted(exams.keys()):
    adding = 0
    count = 0
    for i in exams[name]:
        adding += i
        count += 1
    print(adding)

10
5

In [79]:
tup = 1, 2, 3, 2, 4, 5, 6, 2, 7, 2, 8, 9
duplicates = tup.count(2) # Write your code here.

print(duplicates) # outputs: 4

4

In [80]:
d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
    d3.update(item)

print(d3)

{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

In [83]:
tup = (('name', 'rabo'), ('age', 34))
my_list = list(tup)
print(my_list)
print(dict(tup))

[('name', 'rabo'), ('age', 34)]
{'name': 'rabo', 'age': 34}

In [84]:
try:
    value = int(input('Enter a natural number: '))
    print('The reciprocal of', value, 'is', 1/value)
except:
    print('I do not know what to do.')

I do not know what to do.

In [87]:
try:
    num = int(input('Enter a num'))
    short_list = [1]
    short_list.append(2)
    short_list.depend(3)
    print(f'Here is the solution: ', num // 0)
except AttributeError:
    print('There is a method that is not right')
except ValueError:
    print('The error in the value you input')
except ZeroDivisionError:
    print('The value was divided by zero')
except:
    print('something happed beyond comprehension')

There is a method that is not right

In [89]:
def any():
    print(var + 1, end='')


var = 1
any()
print(var)

21

In [91]:


def fun(x, y, z):
    return x + 2 * y + 3 * z


print(fun(0, z=1, y=3))

Object `snippet` not found.
9

In [92]:
dictionary = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dictionary['one']

for k in range(len(dictionary)):
    v = dictionary[v]

print(v)

two

In [93]:
tup = (1, 2, 4, 8)
tup = tup[1:-1]
tup = tup[0]
print(tup)

2