In [1]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import subplots
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor as VIF
from statsmodels.stats.anova import anova_lm
from ISLP import load_data
from ISLP.models import (ModelSpec as MS, summarize, poly)

In [2]:
Boston =load_data('boston')
Boston.columns #columns are known as the predictors: 13

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'lstat', 'medv'],
      dtype='object')

In [4]:
X = MS(['lstat', 'age']).fit_transform(Boston)
y = Boston['medv']
model1 = sm.OLS(y, X)
results1 = model1.fit()
summarize(results1)

              coef  std err       t  P>|t|
intercept  33.2228    0.731  45.458  0.000
lstat      -1.0321    0.048 -21.416  0.000
age         0.0345    0.012   2.826  0.005

In [5]:
terms = Boston.columns.drop('medv')

In [6]:
terms

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'lstat'],
      dtype='object')

In [8]:
X =MS(terms).fit_transform(Boston)
y = Boston['lstat']
model1 = sm.OLS(y, X)
results1 = model1.fit()
summarize(results1)

                   coef       std err             t  P>|t|
intercept -2.898000e-14  3.200000e-13 -9.100000e-02  0.928
crim       6.744000e-17  2.140000e-15  3.200000e-02  0.975
zn         1.691000e-16  8.980000e-16  1.880000e-01  0.851
indus      5.574000e-16  4.020000e-15  1.390000e-01  0.890
chas      -2.776000e-15  5.630000e-14 -4.900000e-02  0.961
nox       -2.776000e-16  2.490000e-13 -1.000000e-03  0.999
rm         4.580000e-15  2.720000e-14  1.680000e-01  0.866
age       -3.725000e-16  8.630000e-16 -4.320000e-01  0.666
dis        1.006000e-16  1.310000e-14  8.000000e-03  0.994
rad       -1.639000e-16  4.330000e-15 -3.800000e-02  0.970
tax       -6.574000e-16  2.460000e-16 -2.672000e+00  0.008
ptratio   -1.249000e-16  8.560000e-15 -1.500000e-02  0.988
lstat      1.000000e+00  3.280000e-15  3.050000e+14  0.000