## Handling Categorical Data

In [5]:
import numpy as np
from sklearn.preprocessing import LabelBinarizer,MultiLabelBinarizer
features = np.array([['Kaduna'], ['Kano'], ['Lagos'], ['Ibadan'], ['Enugu']])
one_hot =LabelBinarizer()
one_hot_features =one_hot.fit_transform(features)
one_hot_features

array([[0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0]])

In [6]:
one_hot.classes_

array(['Enugu', 'Ibadan', 'Kaduna', 'Kano', 'Lagos'], dtype='<U6')

### inverse_transform:

In [7]:
one_hot.inverse_transform(one_hot.transform(features))

array(['Kaduna', 'Kano', 'Lagos', 'Ibadan', 'Enugu'], dtype='<U6')

In [9]:
# Import library
import pandas as pd
# Create dummy variables from feature
pd.get_dummies(features[:,0])

   Enugu  Ibadan  Kaduna  Kano  Lagos
0      0       0       1     0      0
1      0       0       0     1      0
2      0       0       0     0      1
3      0       1       0     0      0
4      1       0       0     0      0

In [13]:
# Create multiclass feature
multiclass_feature = [("Texas", "Florida"),
("California", "Alabama"),
("Texas", "Florida"),
("Delware", "Florida"),
("Texas", "Alabama")]
multiclass_one_hot = MultiLabelBinarizer()
one_hot_features = multiclass_one_hot.fit_transform(multiclass_feature)
one_hot_features

array([[0, 0, 0, 1, 1],
       [1, 1, 0, 0, 0],
       [0, 0, 0, 1, 1],
       [0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1]])

###  Encoding Ordinal Categorical Features

In [14]:
# Load library
import pandas as pd
# Create features
dataframe = pd.DataFrame({"Score": ["Low", "Low", "Medium", "Medium", "High"]})
# Create mapper
scale_mapper = {"Low":1,
"Medium":2,
"High":3}
# Replace feature values with scale
dataframe["Score"].replace(scale_mapper)

0    1
1    1
2    2
3    2
4    3
Name: Score, dtype: int64

###  Encoding Dictionaries of Features