In [19]:
import pandas as pd
df = pd.read_hdf("./data.h5")

#how many element does this dataframe
# 820906, from 0 to 820905
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 820906 entries, 0 to 820905
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     820906 non-null  int32
 1   customer_id  820906 non-null  int16
 2   product_id   820906 non-null  int16
 3   quantity     820906 non-null  int32
 4   price_unit   820906 non-null  int32
 5   price_total  820906 non-null  int32
 6   country_id   820906 non-null  int8
 7   order_date   820906 non-null  datetime64[ns]
 8   is_canceled  820906 non-null  bool
dtypes: bool(1), datetime64[ns](1), int16(2), int32(4), int8(1)
memory usage: 29.7 MB

In [16]:
# we can get same with .shape method to get the shape of the matrix
df.shape #(820906, 9)

(820906, 9)

In [17]:
df.loc

In [20]:
df.max()

order_id                     52205
customer_id                   5878
product_id                    4239
quantity                     80995
price_unit                   64950
price_total               16846960
country_id                      42
order_date     2011-12-09 12:50:00
is_canceled                   True
dtype: object

In [21]:
df.max().price_total

16846960

In [29]:
df.describe()

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id
count,820906.000000,820906.000000,820906.000000,820906.000000,820906.000000,8.209060e+05,820906.000000
mean,25949.670292,1638.141987,1069.033612,13.623477,298.218278,2.212367e+03,0.721599
std,15264.687463,1492.314255,978.197124,189.261372,456.258295,3.009728e+04,3.110004
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000
25%,13506.000000,415.000000,272.000000,2.000000,125.000000,4.950000e+02,0.000000
50%,24773.000000,1129.000000,755.000000,5.000000,195.000000,1.180000e+03,0.000000
75%,39409.000000,2551.000000,1567.000000,12.000000,375.000000,1.950000e+03,0.000000
max,52205.000000,5878.000000,4239.000000,80995.000000,64950.000000,1.684696e+07,42.000000

In [30]:
df.describe().max()

order_id         820906.0
customer_id      820906.0
product_id       820906.0
quantity         820906.0
price_unit       820906.0
price_total    16846960.0
country_id       820906.0
dtype: float64

In [31]:
df.describe().max().cou

order_id         820906.0
customer_id      820906.0
product_id       820906.0
quantity         820906.0
price_unit       820906.0
price_total    16846960.0
country_id       820906.0
dtype: float64

In [32]:
df['price_total'].max()

16846960

In [33]:
df['customer_id'].std()

1492.314255308764

In [34]:
df['country_id'].mean()

0.7215990624992387

In [50]:
df['order_id'].min()

0

In [54]:
#select single row by index
df.loc[200]

order_id                        23
customer_id                     14
product_id                     149
quantity                         6
price_unit                     595
price_total                   3570
country_id                       2
order_date     2010-12-01 10:03:00
is_canceled                  False
Name: 200, dtype: object

In [56]:
#select multiple row by index. first five row
df.loc[0:5]

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
0,0,0,0,6,254,1524,0,2010-12-01 08:26:00,False
1,0,0,1,6,339,2034,0,2010-12-01 08:26:00,False
2,0,0,2,8,275,2200,0,2010-12-01 08:26:00,False
3,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False
4,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False
5,0,0,4,2,765,1530,0,2010-12-01 08:26:00,False

In [57]:
#last five element
df.loc[df.shape[0]-5:df.shape[0]]

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
820901,1070,620,362,2,295,590,0,2010-12-09 20:01:00,False
820902,1070,620,395,1,375,375,0,2010-12-09 20:01:00,False
820903,1070,620,364,1,375,375,0,2010-12-09 20:01:00,False
820904,1070,620,1242,2,375,750,0,2010-12-09 20:01:00,False
820905,1070,620,73,2,195,390,0,2010-12-09 20:01:00,False