In [2]:
import pandas as pd
df = pd.read_hdf("./data.h5")

#how many element does this dataframe
# 820906, from 0 to 820905
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 820906 entries, 0 to 820905
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     820906 non-null  int32
 1   customer_id  820906 non-null  int16
 2   product_id   820906 non-null  int16
 3   quantity     820906 non-null  int32
 4   price_unit   820906 non-null  int32
 5   price_total  820906 non-null  int32
 6   country_id   820906 non-null  int8
 7   order_date   820906 non-null  datetime64[ns]
 8   is_canceled  820906 non-null  bool
dtypes: bool(1), datetime64[ns](1), int16(2), int32(4), int8(1)
memory usage: 29.7 MB

In [16]:
# we can get same with .shape method to get the shape of the matrix
df.shape #(820906, 9)

(820906, 9)

In [17]:
df.loc

In [20]:
df.max()

order_id                     52205
customer_id                   5878
product_id                    4239
quantity                     80995
price_unit                   64950
price_total               16846960
country_id                      42
order_date     2011-12-09 12:50:00
is_canceled                   True
dtype: object

In [21]:
df.max().price_total

16846960

In [29]:
df.describe()

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id
count,820906.000000,820906.000000,820906.000000,820906.000000,820906.000000,8.209060e+05,820906.000000
mean,25949.670292,1638.141987,1069.033612,13.623477,298.218278,2.212367e+03,0.721599
std,15264.687463,1492.314255,978.197124,189.261372,456.258295,3.009728e+04,3.110004
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000
25%,13506.000000,415.000000,272.000000,2.000000,125.000000,4.950000e+02,0.000000
50%,24773.000000,1129.000000,755.000000,5.000000,195.000000,1.180000e+03,0.000000
75%,39409.000000,2551.000000,1567.000000,12.000000,375.000000,1.950000e+03,0.000000
max,52205.000000,5878.000000,4239.000000,80995.000000,64950.000000,1.684696e+07,42.000000

In [30]:
df.describe().max()

order_id         820906.0
customer_id      820906.0
product_id       820906.0
quantity         820906.0
price_unit       820906.0
price_total    16846960.0
country_id       820906.0
dtype: float64

In [31]:
df.describe().max().cou

order_id         820906.0
customer_id      820906.0
product_id       820906.0
quantity         820906.0
price_unit       820906.0
price_total    16846960.0
country_id       820906.0
dtype: float64

In [32]:
df['price_total'].max()

16846960

In [33]:
df['customer_id'].std()

1492.314255308764

In [34]:
df['country_id'].mean()

0.7215990624992387

In [50]:
df['order_id'].min()

0

In [54]:
#select single row by index
df.loc[200]

order_id                        23
customer_id                     14
product_id                     149
quantity                         6
price_unit                     595
price_total                   3570
country_id                       2
order_date     2010-12-01 10:03:00
is_canceled                  False
Name: 200, dtype: object

In [59]:
#select multiple row by index. first five row
df.loc[0:4]

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
0,0,0,0,6,254,1524,0,2010-12-01 08:26:00,False
1,0,0,1,6,339,2034,0,2010-12-01 08:26:00,False
2,0,0,2,8,275,2200,0,2010-12-01 08:26:00,False
3,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False
4,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False

In [57]:
#last five element
df.loc[df.shape[0]-5:df.shape[0]]

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
820901,1070,620,362,2,295,590,0,2010-12-09 20:01:00,False
820902,1070,620,395,1,375,375,0,2010-12-09 20:01:00,False
820903,1070,620,364,1,375,375,0,2010-12-09 20:01:00,False
820904,1070,620,1242,2,375,750,0,2010-12-09 20:01:00,False
820905,1070,620,73,2,195,390,0,2010-12-09 20:01:00,False

In [61]:
df.head()

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
0,0,0,0,6,254,1524,0,2010-12-01 08:26:00,False
1,0,0,1,6,339,2034,0,2010-12-01 08:26:00,False
2,0,0,2,8,275,2200,0,2010-12-01 08:26:00,False
3,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False
4,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False

In [62]:
df.tail()

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
820901,1070,620,362,2,295,590,0,2010-12-09 20:01:00,False
820902,1070,620,395,1,375,375,0,2010-12-09 20:01:00,False
820903,1070,620,364,1,375,375,0,2010-12-09 20:01:00,False
820904,1070,620,1242,2,375,750,0,2010-12-09 20:01:00,False
820905,1070,620,73,2,195,390,0,2010-12-09 20:01:00,False

In [8]:
df.loc[df['customer_id'] == 390]

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
9629,622,390,168,1,425,425,0,2010-12-06 15:27:00,False
9630,622,390,6,2,210,420,0,2010-12-06 15:27:00,False
9631,622,390,2,2,325,650,0,2010-12-06 15:27:00,False
9632,622,390,163,1,85,85,0,2010-12-06 15:27:00,False
9633,622,390,195,1,210,210,0,2010-12-06 15:27:00,False
...,...,...,...,...,...,...,...,...,...
815820,622,390,428,2,125,250,0,2010-12-06 15:27:00,False
815821,622,390,1540,1,425,425,0,2010-12-06 15:27:00,False
815822,622,390,1399,1,994,994,0,2010-12-06 15:27:00,False
815823,622,390,1097,10,125,1250,0,2010-12-06 15:27:00,False
815824,622,390,612,24,85,2040,0,2010-12-06 15:27:00,False

In [10]:
df['percentage_price'] = (df['price_total'] / len(df['price_total'])*100)

In [11]:
df

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled,percentage_price
0,0,0,0,6,254,1524,0,2010-12-01 08:26:00,False,0.185649
1,0,0,1,6,339,2034,0,2010-12-01 08:26:00,False,0.247775
2,0,0,2,8,275,2200,0,2010-12-01 08:26:00,False,0.267997
3,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False,0.247775
4,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False,0.247775
...,...,...,...,...,...,...,...,...,...,...
820901,1070,620,362,2,295,590,0,2010-12-09 20:01:00,False,0.071872
820902,1070,620,395,1,375,375,0,2010-12-09 20:01:00,False,0.045681
820903,1070,620,364,1,375,375,0,2010-12-09 20:01:00,False,0.045681
820904,1070,620,1242,2,375,750,0,2010-12-09 20:01:00,False,0.091362
820905,1070,620,73,2,195,390,0,2010-12-09 20:01:00,False,0.047508

In [10]:
df['percentage_price'] = (df['price_total'] / len(df['price_total'])*100)
df.describe()['percentage_price'].max()

820906.0

In [12]:
df['percentage_price'] = (df['price_total'] / len(df['price_total'])*100)
df.sort_values(by='percentage_price', ascending=False).head()

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled,percentage_price
404570,25264,2647,3405,80995,208,16846960,0,2011-12-09 09:27:00,True,2052.239842
404569,25263,2647,3405,80995,208,16846960,0,2011-12-09 09:15:00,False,2052.239842
37960,2709,1168,2494,74215,104,7718360,0,2011-01-18 10:01:00,False,940.224581
37965,2711,1168,2494,74215,104,7718360,0,2011-01-18 10:17:00,True,940.224581
158509,11298,2848,184,60,64950,3897000,0,2011-06-10 15:28:00,False,474.719395

In [14]:
df['count num'] = df['price_unit']
df

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled,percentage_price,count num
0,0,0,0,6,254,1524,0,2010-12-01 08:26:00,False,0.185649,254
1,0,0,1,6,339,2034,0,2010-12-01 08:26:00,False,0.247775,339
2,0,0,2,8,275,2200,0,2010-12-01 08:26:00,False,0.267997,275
3,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False,0.247775,339
4,0,0,3,6,339,2034,0,2010-12-01 08:26:00,False,0.247775,339
...,...,...,...,...,...,...,...,...,...,...,...
820901,1070,620,362,2,295,590,0,2010-12-09 20:01:00,False,0.071872,295
820902,1070,620,395,1,375,375,0,2010-12-09 20:01:00,False,0.045681,375
820903,1070,620,364,1,375,375,0,2010-12-09 20:01:00,False,0.045681,375
820904,1070,620,1242,2,375,750,0,2010-12-09 20:01:00,False,0.091362,375
820905,1070,620,73,2,195,390,0,2010-12-09 20:01:00,False,0.047508,195

In [16]:
mean_count_num = df['count num'].mean()
mean_count_num

298.21827834124736

In [22]:
df.query("`count num` > @mean_count_num").sort_values(by="count num")

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled,percentage_price,count num
256347,17524,1560,3207,1,299,299,0,2011-09-21 17:01:00,True,0.036423,299
256492,17536,1560,3207,1,299,299,0,2011-09-22 09:38:00,False,0.036423,299
400260,25016,4353,26,620,299,185380,0,2011-12-07 12:14:00,False,22.582366,299
410735,25669,448,149,576,300,172800,0,2009-12-03 13:30:00,False,21.049913,300
410740,25669,448,99,600,300,180000,0,2009-12-03 13:30:00,False,21.926993,300
...,...,...,...,...,...,...,...,...,...,...,...
745808,48647,4083,1485,1,29500,29500,0,2010-11-01 13:33:00,False,3.593590,29500
599040,39297,1526,740,1,30013,30013,0,2010-06-25 14:15:00,False,3.656082,30013
599041,39298,1103,740,1,35847,35847,0,2010-06-25 14:15:00,False,4.366761,35847
158510,11299,2848,184,1,64950,64950,0,2011-06-10 15:33:00,False,7.911990,64950
158509,11298,2848,184,60,64950,3897000,0,2011-06-10 15:28:00,False,474.719395,64950

In [27]:
df.loc[df['order_id'] >25000]

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled,percentage_price,count num
400080,25001,454,3111,12,125,1500,0,2011-12-07 11:12:00,False,0.182725,125
400081,25001,454,196,4,375,1500,0,2011-12-07 11:12:00,False,0.182725,375
400082,25001,454,636,2,850,1700,0,2011-12-07 11:12:00,False,0.207088,850
400083,25001,454,508,2,1275,2550,0,2011-12-07 11:12:00,False,0.310632,1275
400084,25001,454,1813,4,825,3300,0,2011-12-07 11:12:00,False,0.401995,825
...,...,...,...,...,...,...,...,...,...,...,...
806158,52205,595,89,12,210,2520,0,2010-11-30 19:35:00,False,0.306978,210
806159,52205,595,711,2,795,1590,0,2010-11-30 19:35:00,False,0.193688,795
806160,52205,595,587,12,125,1500,0,2010-11-30 19:35:00,False,0.182725,125
806161,52205,595,1029,24,210,5040,0,2010-11-30 19:35:00,False,0.613956,210
806162,52205,595,1709,10,795,7950,0,2010-11-30 19:35:00,False,0.968442,795