In [7]:
slogan = "Python under Linux is great"
slogan[::3]
s = "Toronto is the largest City in Canada"
t = "Python courses in Toronto by Bodenseo"
s = ''.join([''.join(x) for x in zip(s,t)])
s

'TPoyrtohnotno  ciosu rtshees  lianr gTeosrto nCtiot yb yi nB oCdaennasdeao'

In [11]:
w = {"house": "Haus", "cat": "", "red": "rot"}
items_view = w.items()
items = list(items_view)
items

[('house', 'Haus'), ('cat', ''), ('red', 'rot')]

In [15]:
dishes = ["pizza", "sauerkraut", "paella", "hamburger"]
countries = ["Italy", "Germany", "Spain", "USA"]
country_specialities_zip = zip(dishes,countries)
dict(country_specialities_zip)

{'pizza': 'Italy',
 'sauerkraut': 'Germany',
 'paella': 'Spain',
 'hamburger': 'USA'}

In [39]:
def merge_dict_sum(dict1, dict2):
    for key, value in dict2.items():
        if key in dict1:
            print(value)
            dict1[key] += value
        else:
            dict1[key] = value
    dict3 = dict1.copy()
    return dict3
obj = {'price': 45, 'age': 67, 'week': 34}
obj1 = {'price': 67, 'age': 78, 'tea': 67}
merge_dict_sum(obj, obj1)

67
78
{'price', 'age', 'tea', 'week'}

In [42]:
def merge_dict(dict1, dict2):
   return {k: dict1.get(k, 0) + dict2.get(k, 0) for k in set(dict1) | set(dict2)}
merge_dict(obj, obj1)

{'price': 179, 'age': 223, 'tea': 134, 'week': 34}

In [29]:
supermarket = { "milk": {"quantity": 20, "price": 1.19},
"biscuits": {"quantity": 32, "price": 1.45},
"butter": {"quantity": 20, "price": 2.29},
"cheese": {"quantity": 15, "price": 1.90},
"bread": {"quantity": 15, "price": 2.59},
"cookies": {"quantity": 20, "price": 4.99},
"yogurt": {"quantity": 18, "price": 3.65},
"apples": {"quantity": 35, "price": 3.15},
"oranges": {"quantity": 40, "price": 0.99},
"bananas": {"quantity": 23, "price": 1.29}}
total = 0
for item in supermarket:
    total += supermarket[item]['quantity'] * supermarket[item]['price']
total

528.37

In [14]:
cities_and_population = [("Zurich", 415367),("Geneva", 201818),("Basel", 177654),("Lausanne", 139111),("Bern", 133883),("Winterthur", 111851)]
print(*cities_and_population)

cities, population = zip(*cities_and_population)
print(cities)
print(population)
dict_ci = dict(zip(cities, population))
dict_ci

('Zurich', 415367) ('Geneva', 201818) ('Basel', 177654) ('Lausanne', 139111) ('Bern', 133883) ('Winterthur', 111851)
('Zurich', 'Geneva', 'Basel', 'Lausanne', 'Bern', 'Winterthur')
(415367, 201818, 177654, 139111, 133883, 111851)

{'Zurich': 415367,
 'Geneva': 201818,
 'Basel': 177654,
 'Lausanne': 139111,
 'Bern': 133883,
 'Winterthur': 111851}

####  Set can't contain immutable object

In [24]:
cities = set(("Python","Perl", "Paris", "Berlin", "London", (3, 6)))
cities

{(3, 6), 'Berlin', 'London', 'Paris', 'Perl', 'Python'}

In [34]:
colours = {"red","green"}
colours.add("yellow")
colours.add('blue')
colours

{'blue', 'green', 'red', 'yellow'}

In [42]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
c_cities = cities.copy()
cities.clear()
print(c_cities)
print(cities)

{'Konstanz', 'Freiburg', 'Stuttgart'}
set()

In [57]:
x = {"a","b","c","d","e"}
y = {"b","c"}
z = {"c","d"}
print('diff', x - y)
print('union', x | y)
print('intersection', x & y)
x -=  y
print(x)
print(x.discard('d'))

diff {'d', 'e', 'a'}
union {'d', 'b', 'e', 'a', 'c'}
intersection {'b', 'c'}
{'d', 'e', 'a'}
None

In [67]:
x = {"a","b","c","d","e"}
y = {"b","c"}
print('y subset of x',y <= x)
print('x superset of y', x >= y)

y subset of x True
x superset of y True

In [12]:
my_turple = (1, 3, 4, 5)

In [53]:
my_list = list(range(100))
my_special = [item for item in my_list if item % 2 == 0 and item > 50]

In [54]:
print(my_special)

[52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [56]:
my_words = 'Hello world, I love people tough character. who are you my brother'
[word for word in my_words.split()]

['Hello',
 'world,',
 'I',
 'love',
 'people',
 'tough',
 'character.',
 'who',
 'are',
 'you',
 'my',
 'brother']

In [62]:
def return_lower(word):
    return word.lower()
[[return_lower(item) for item in sentence.split()] for sentence in my_words.split('.')]

[['hello', 'world,', 'i', 'love', 'people', 'tough', 'character'],
 ['who', 'are', 'you', 'my', 'brother']]

In [1]:
my_list_tuple = [('a',6), ('b', 60), ('c', 54), ('d', 100)]
{item[0]: item[1] for item in my_list_tuple}

{'a': 6, 'b': 60, 'c': 54, 'd': 100}

In [3]:
def getNum(*args, **kwargs):
    print(args)
    print(kwargs)
    return None
getNum(1, 3, 44, getall ='Name')

(1, 3, 44)
{'getall': 'Name'}

In [6]:
names = set()
names.add(5)
names.add(90)
print(3 in names)
print(names)

False
{90, 5}

In [18]:
li = list(range(1, 10 + 1))
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
li.remove(2)
print(li)

[1, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
li.pop(1)
print(li)
print(li.index(5))
print(li)

[1, 4, 5, 6, 7, 8, 9, 10]
2
[1, 4, 5, 6, 7, 8, 9, 10]

In [21]:
print((45).__add__(40))

85

In [23]:
print(4 // 2)

2

In [24]:
num = [60, 89, 700, 567,123, 345,680]
num.insert(0, 3000)
print(num)

[3000, 60, 89, 700, 567, 123, 345, 680]

In [25]:
print(num.count(123))

1

In [29]:
num = [60, 89, 700, 567,123, 345,680]
num.remove(700)
print(num)

[60, 89, 567, 123, 345, 680]

In [30]:
num = [60, 89, 700, 567,123, 345,680]
del num[4]
print(num)

[60, 89, 700, 567, 345, 680]

In [31]:
num = [60, 89, 700, 567,123, 345,680]
num.append(5000000)
print(num)

[60, 89, 700, 567, 123, 345, 680, 5000000]

In [32]:
num = [60, 89, 700, 567,123, 345,680]
num.pop()
print(num)

[60, 89, 700, 567, 123, 345]

In [33]:
num = [60, 89, 700, 567,123, 345,680]
num.pop(0)
print(num)

[89, 700, 567, 123, 345, 680]

In [35]:
num = [60, 89, 700, 567,123, 345,680]
print(num.index(700))

2

In [37]:
num = [4000, 60, 89, 700, 567,123, 345,680]
num.sort()
print(num)

[60, 89, 123, 345, 567, 680, 700, 4000]

In [38]:
my_list = [1,2,3,4]
A = [my_list]*3
print(A)

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

In [40]:
my_list = [20, 40, 8]
dim = [my_list] * 4
print(dim)

[[20, 40, 8], [20, 40, 8], [20, 40, 8], [20, 40, 8]]

In [3]:
name ='Rabo Yusuf\nwe\'s'
print(name.split())

['Rabo', 'Yusuf', "we's"]

In [4]:
name = 'Rabo yusuf'
print(name.split('u'))

['Rabo y', 's', 'f']

In [7]:
tuple = 2, 4, 500
print(tuple[0])
print(tuple[:1])
print(2 in tuple)

2
(2,)
True

In [22]:
my_set = {2, 4, 6, 9, True}
print(2.in my_set)
print(len(my_set))
my_set1 = {'goal', 2, 4, 1000}
print(my_set | my_set1)
print(my_set1 & my_set)
print(my_set1 - my_set)
print(my_set1 <= my_set)
print(my_set1.union(my_set))
print(my_set1.intersection(my_set))
print(my_set1.difference(my_set))
print(my_set1.issubset(my_set))
print(my_set1.add(200))
print(my_set1)
my_set1.pop()
print(my_set1)

True
5
{True, 2, 4, 6, 1000, 9, 'goal'}
{2, 4}
{1000, 'goal'}
False
{True, 2, 4, 6, 1000, 9, 'goal'}
{2, 4}
{1000, 'goal'}
False
None
{2, 4, 1000, 200, 'goal'}
{4, 1000, 200, 'goal'}

In [29]:
word_list = ['cat','dog','rabbit']
unique_letter = []
for word in word_list:
    for letter in word:
        if letter not in  unique_letter:
            unique_letter.append(letter)

print(unique_letter)

['c', 'a', 't', 'd', 'o', 'g', 'r', 'b', 'i']

In [28]:
word_list = ['cat','dog','rabbit']
unique_letter = []
[[unique_letter.append(letter) for letter in word if letter not in unique_letter ] for word in word_list]
print(unique_letter)

['c', 'a', 't', 'd', 'o', 'g', 'r', 'b', 'i']

In [5]:

def max_num(my_list):
    max = my_list[0]
    for num in my_list:
        if max <= num:
            max = num
    return max
max_num([34,1000,3333, 0, -234])

3333

In [6]:
def find_min_n2(lst):
    # Initialize the minimum value as the first element in the list
    min_val = lst[0]

    # Compare each number to every other number in the list
    for i in range(len(lst)):
        for j in range(len(lst)):
            if lst[i] < lst[j]:
                min_val = lst[i]

    return min_val

In [12]:
def anagram(str, str1):
    if len(str) != len(str1):
        return False
    my_list1 = {}
    my_list2 = {}
    for lett in str:
        if lett in my_list1:
            my_list1[lett] += 1
        else:
            my_list1[lett] = 1
    for lett in str1:
        if lett in my_list2:
            my_list2 += 1
        else:
            my_list2[lett] = 1
    return my_list2 == my_list1
anagram('heart', 'earth')
anagram('abcd','dcba')

True

In [1]:
x = 100
print('x = ' + str(x))

x = 100

In [2]:
x, y = 20, 30
print('x = ', x, 'y = ', y)

x =  20 y =  30

In [4]:
z, y = 200, 500
del z, y

In [5]:
N233 = 800
print(N233)

800

In [15]:
x = round(46.893)
y = round(56.67900, 2)
z = round(20.66999, 0)
b = round(234455.7899, -1) #234450.0
t = round(356477.899393, -2) #356400.0
print(type(x), type(y), type(z), type(b), type(t))
print('Rabo Yusuf')

<class 'int'> <class 'float'> <class 'float'> <class 'float'> <class 'float'>
Rabo Yusuf

In [16]:
x, y = 90, 80
print(x, y, sep='***', end=' ')

90***80

In [17]:
print(2//45)

0

In [19]:
print(90 // 1)

90

In [20]:
x, y = 1, 3
one_tenth = x / y
z = x - one_tenth - one_tenth -one_tenth
print(z)

1.1102230246251565e-16

In [22]:
f = int(input('Please, enter temperature in farenheith'))
fifth_ninth = 5 / 9
c = fifth_ninth * (f - 32)
print('temperature in celcius = ', c)

temperature in celcius =  148.88888888888889

In [29]:
seconds = int(input('time in seconds'))
hours = seconds // 3600
seconds = seconds % 3600
minutes = seconds // 60
print(hours,'h', ':',minutes, 'm',':', seconds,'sec')

662 h : 27 m : 1648 sec

In [31]:
# Request input from the user
num = int(input("Please enter an integer in the range 0...9999: "))
# Attenuate the number if necessary
if num < 0: # Make sure number is not too small
    num = 0
if num > 9999: # Make sure number is not too big
    num = 9999
print(end="[") # Print left brace
# Extract and print thousands-place digit
digit = num//1000 # Determine the thousands-place digit
print(digit, end="") # Print the thousands-place digit
num %= 1000 # Discard thousands-place digit
# Extract and print hundreds-place digit
digit = num//100 # Determine the hundreds-place digit
print(digit, end="") # Print the hundreds-place digit
num %= 100 # Discard hundreds-place digit
# Extract and print tens-place digit
digit = num//10 # Determine the tens-place digit
print(digit, end="") # Print the tens-place digit
num %= 10 # Discard tens-place digit
# Remainder is the one-place digit
print(num, end="") # Print the ones-place digit
print("]") # Print right brace

[0200]

In [32]:
if x < 0:
    pass
# Do nothing (This will not work!)
else:
    print(x)

1

In [ ]:
number_of_rows = 3
number_of_columns = 2
arr_2d=[]
for x in range(number_of_rows):
   column_elements=[]
   for y in range(number_of_columns):
       # Enter the all the values w.r.t to a particular column
       column_elements.append(0)
   #Append the column to the array.
   arr_2d.append(column_elements)

print(arr_2d)