In [9]:
#octa start with 0o and others that will between 0-7
print(0o0)
print(0o255666)
print(0o123)
print(0o2355525)

0
89014
83
645973

In [10]:
print(0x123)

291

In [11]:
print(0o2336647)

638375

In [12]:
print(0x23489abcdf)

151541955807

In [13]:
print(0x2563401010000000fff)

11034900233542772461567

In [14]:
# 4 is integer
# 4.0 is float
num = 3.0E10
print(type(num))

<class 'float'>

In [15]:
num = 3E10
print(type(num))

<class 'float'>

In [16]:
num = 34e40
print(type(num))

<class 'float'>

In [17]:
num = -2e-3
print(type(num))

<class 'float'>

In [18]:
print(True > False)
print(True < False)

True
False

In [19]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)

8
8.0
8.0
8.0

In [20]:
print(2 * 3)
print(2 * 3.)
print(2. * 3)
print(2. * 3.)

6
6.0
6.0
6.0

In [21]:
print(6 / 3)
print(6 / 3.)
print(6. / 3)
print(6. / 3.)

2.0
2.0
2.0
2.0

In [23]:
# Integer division
print(6 // 3)
print(6 // 3.)
print(6. // 3)
print(6. // 3.)
print(5 // 2)

2
2.0
2.0
2.0
2

In [24]:
print(-6 // 4)
print(6. // -4)

-2
-2.0

In [26]:
print(14. % 4)

2.0

In [27]:
print(12 % 4.5)

3.0

In [28]:
print(-4 + 4)
print(-4. + 8)

0
4.0

In [29]:
print(11 % 3.5) # 11 // 3.5 = 3   || 3 * 3.5 = 10.5 || 11-10.5 = .5

0.5

In [1]:

var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [2]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

In [3]:
num = 10
num +=1
print(num)

11

In [4]:
num %= 2
print(num)

1

In [5]:
num /=2
print(num)

0.5

In [6]:
num **=2
print(num)

0.25

In [8]:
kilometers = 12.25
miles = 7.38
kilometers *=1.61
miles_to_kilometers = kilometers
miles /=1.61
kilometers_to_miles = miles

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

4.583850931677018 miles is 19.72 kilometers
19.7225 kilometers is 4.58 miles

In [9]:
x = 0
x = float(x)
print(x)

0.0

In [10]:
x = 0
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

x = 1
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

x = -1
x = float(x)
y = 3 * x**3 - 2 * x**2 + 3 * x - 1
print("y =", y)

y = -1.0
y = 3.0
y = -9.0

In [11]:
averylongVariablename = 23
print(averylongVariablename)

23